<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
    
    .dropdown-menu {
        opacity: 0.9 !important;
     }
    </style>
    @section Scripts
    { }
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Добре дошли!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-home" })</li>   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-th-list" data-toggle="dropdown" role="button"
                           aria-expanded="false"> Анкети<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="myTab">
                            <li role="presentation">
                                <a href="" aria-controls="" role="tab" data-toggle="tab">
                                    @Html.ActionLink("Оценка на студентите за условията за научно изследователска дейност", "Category1", "Surveys")
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="" aria-controls="" role="tab" data-toggle="tab">
                                    @Html.ActionLink("Оценка на качеството на учебния процес", "Category2", "Surveys")
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="" aria-controls="" role="tab" data-toggle="tab">
                                    @Html.ActionLink("Оценка за престижа на университета сред студентите", "Category3", "Surveys")
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(" За нас", "About", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-info-sign" })</li>
                    <li>@Html.ActionLink(" Контакти", "Contact", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-envelope" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            @*<footer>
                <p>&copy; @DateTime.Now.Year - Студентска система за анкетиране</p>
            </footer>*@
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(window).on('scroll', function (e) {
                if ($(document).scrollTop() === 0) {
                    $('.navbar').css('opacity', 1);
                }
                else {
                    $('.navbar').css('opacity', (1 - $(document).scrollTop() / 500));
                }
            });
        });
    </script>
</body>
</html>
