@model IEnumerable<StudentsSurveySystem.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<select id="categories">
    <option value="-1">Изберете категория</option>
    <option value="1">Оценка на студентите за условията за научно изследователска дейност</option>
    <option value="2">Оценка на студентите за качеството на учебния процес</option>
    <option value="3">Оценка на студентите за престижа на университета</option>
</select>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{   
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
        </tr>
}

</table>*@

<div>
    @foreach (var item in Model)
    {
        <ul>
                <li>@item.Name</li>
        </ul>
    }
</div>
