@model IEnumerable<StudentsSurveySystem.Models.Question>

@{
    ViewBag.Title = "Index";
}
<style>
    .sendBtn:hover{
        background-color: green;
    }
    #statsbtn{
        background-color:white;
    }
    #statsbtn:hover{
        background-color:green;
    }
    .message:hover{
        opacity:0.5;
    }

    .modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}
</style>

<h2>@ViewBag.SurveyName</h2>
@using (Html.BeginForm("Index", "Questions", new {  }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <input type="hidden" name="surveyID" value="@ViewBag.SurveyID" />
    <table class="table">
        <thead>
            <tr>
                <th>Въпрос</th>
                @if (this.User.IsInRole("Admin") == false)
                {
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model)
{
    
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                @if (this.User.IsInRole("Admin") == false)
                    {
                    <td>
                        <input checked="checked"
                               id="ChosenAnswer"
                               name="@item.ID"
                               type="radio"
                               value="A" />
                    </td>
                    <td>
                        <input id="ChosenAnswer"
                               name="@item.ID"
                               type="radio"
                               value="B" />
                    </td>
                        <td>
                            <input id="ChosenAnswer"
                                   name="@item.ID"
                                   type="radio"
                                   value="C" />
                        </td>
                        <td>
                            <input id="ChosenAnswer"
                                   name="@item.ID"
                                   type="radio"
                                   value="D" />
                        </td>
                        <td>
                            <input id="ChosenAnswer"
                                   name="@item.ID"
                                   type="radio"
                                   value="E" />
                        </td>
                }

                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        <span class="btn btn-default" id="statsbtn">@Html.ActionLink("Статистика", "Stats", new { questionID = item.ID })</span>
                    </td>
                }
</tr>
        }
</tbody>
    </table>

    if(ViewBag.CanEnroll == false)
    {
        <div class="alert alert-danger message"><strong> Вече сте попълнили тази анкета</strong></div>
        <input type="submit" value="Изпрати" class="btn btn-default" disabled/>
        <input type="submit" value="Обратно към анкети" class="btn btn-default go_back sendBtn" />
    }
    else
    {
        if (this.User.IsInRole("Admin") == false)
        {
            @*<input type="submit" value="Изпрати" class="btn btn-default sendBtn" onclick="return confirm('Сигурни ли сте, че искате да изпратите тази анкета?');return false;" />*@
            <div class="container">
                <div class="row">
                    <div id="myModal" class="modal fade in">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                                    <h4 class="modal-title">Внимание!</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Сигурни ли сте, че искате да изпратите тази анкета?</h4>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group">
                                        <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Отказ</button>
                                        <button class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Ok</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dalog -->
                    </div><!-- /.modal -->
                    <a data-toggle="modal" href="#myModal" class="btn btn-primary sendBtn">Изпрати</a>
                </div>
            </div>
        }
    }
}

<script type="text/javascript">
    $(function () {
        $('.go_back').click(function (e) {
            e.preventDefault();
            history.go(-1);
        });
    });
</script>

